<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Menú Bancario</title>
<style>
    .container {
    /* margin-left: 170px; */
    padding: 20px;
  }
  .account {
    border: 2px solid #000;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
  }
</style>
</head>
<body>


<div class="container">
  <div class="account">
    <h2>Datos de la cuenta bancaria</h2>
    <p>Nombre del titular: Juan Pérez</p>
    <p>Número de cuenta: XXXX-XXXX-XXXX-XXXX</p>
    <p>Saldo disponible: $10,000.00</p>
  </div>
</div>

</body>
</html>
