@{
    Layout = "~/Views/Shared/_LayoutBarra.cshtml";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        /* Estilos adicionales para el formulario */
        form {
            margin-top: 20px;
            background-color: #f9f9f9;
            padding: 20px;
            border-radius: 10px;
        }

        label {
            display: block;
            margin-bottom: 10px;
        }

        input[type="text"],
        select {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border-radius: 5px;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        input[type="submit"] {
            background-color: #007bff;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

            input[type="submit"]:hover {
                background-color: #0056b3;
            }
    </style>
</head>
<body>
    <div class="container">
        <h1>Transferencia A Terceros</h1>

        <div class="row">
            <div class="col-md-6">
                <div class="login-form">
                    <form asp-controller="TransferenciasEntreTerceros" asp-action="Index" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">
                            <label for="cuentaOrigen" class="control-label">Cuenta Origen</label>
                            <select id="cuentaOrigen" name="cuentaOrigen" class="form-control" required>
                                @foreach (var cuenta in ViewBag.Cuentas)
                                {
                                    <option value="@cuenta.IdCuenta">@cuenta.IdCuenta</option>
                                }
                            </select>
                            <span class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label for="CuentaDestino" class="control-label">CuentaDestino</label>
                            <input type="text" id="monto" name="CuentaDestino" class="form-control" required>
                            <span class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label for="monto" class="control-label">Monto</label>
                            <input type="text" id="monto" name="monto" class="form-control" required>
                            <span class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Realizar Transferencia" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-md-6">
                <img src="https://i.ibb.co/R6w88Nt/corebank-logo.jpg" class="img-fluid">
            </div>
        </div>
    </div>
</body>
</html>
